.container{
    
}

.header{
    grid-area: header;
    background-color: red;

}
.logo{
    grid-area: logo;
    background-color: aqua;
}
.content{
    grid-area: content;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    flex-direction: column;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: left;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.nav-left, .nav-right {
    display: flex;
    gap: 20px;
}

/* Center Title */
.nav-center {
    font-size: 22px;
    font-weight: bold;
}

/* Links Styling */
a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

a:hover {
    color: #6a0dad; /* Change color on hover */
}